.container2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 55px;
    
   
   
    
  }
  #sobre-nos .container2 .lado-direito .missao{
    color: purple;
    font-size: 155px;
     margin-right: 500px;
   } 
  
   #sobre-nos .container2 .centro .visao{
    color: purple;
    font-size: 155px;
    text-align: center;
    margin-right: 500px;
    
  
   }
  
   #sobre-nos .container2 .lado-esquerdo .valores{
    color: purple;
    font-size: 155px;
   }
