* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 10vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  z-index: 99;
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 900px;

}

header .logo img {
  width: 30%;
}

header .menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

header .menu ul li {
  padding: 0 10px;
  list-style: none;
}

header .menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  transition: 0.5s ease;
  font-weight: 450;
  font-size: 1.1rem;
  justify-content: center;
  align-items: center;
}

header .menu ul li a:hover {
  color: #d4bc36;
}



/* ==== contato ==== */
#contato .container {
  width: 100%;
  height: 80vh;
  background: url(image/background.png);
  background-size: cover;
}

#contato .container .content-contact {
  width: 80%;
  height: 60vh;
  margin: 0 auto;
  padding: 80px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#contato .content-contact .contact-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: black;

}

#contato .content-contact .contact-left h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

#contato .content-contact .linha {
  width: 350px;
  height: 3px;
  background: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

#contato .content-contact .contact-left ion-icon {
  font-size: 2rem;
  padding: 20px 0;
}

#contato .content-contact .contact-left span {
  font-size: 1.2rem;
  padding: 5px;
}



/* ====== sobre nos ====== */


.container2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 55px;
}


.sobrenos-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.lado-foto {
  width: 600px;
  height: 700px;
}
.lado-foto, .foto-sobrenos{
 width: 75%;
 height: 80vh;
 margin-left: 2%;
}

.lado-texto {
  width: 700px;
  height: 700px;
}
.lado-texto .text {
  margin-top: 5%;
color: white;
font-size: 1.3rem;
margin-right: 7%;
}

#contato .lado-direito .container .mapa {
  width: 500px;
  height: 500px;


}

#sobre-nos .content-contact .contact-left {
  font-size: 1.2rem;
  padding: 5px;
}

#sobre-nos .container2 .lado-direito {
  font-size: 155px;
  margin-right: 50px;
  width: 500px;
  height: 500px;

  text-align: center;
}

#sobre-nos .container2 .lado-direito p {
  font-size: 1.3rem;
  color: white;

}

#sobre-nos .container2 .centro {
  font-size: 155px;
  text-align: center;
  margin-right: 50px;
  width: 500px;
  height: 500px;

  text-align: center;


}

#sobre-nos .container2 .centro p {
  font-size: 1.3rem;
  color: white;

}

#sobre-nos .container2 .lado-esquerdo {
  font-size: 155px;
  width: 500px;
  height: 500px;

  text-align: center;
}

#sobre-nos .container2 .lado-esquerdo p {
  font-size: 1.3rem;
  color: white;
}

#sobre-nos .container2 .missao,
.visao,
.valores {
  color: #d4bc36;
}

#sobre-nos .bg-sobrenos {
  background-color: #7338b6;
  
}

.bt-roxo{
  border: 1px solid #7338b6;
  color: #7338b6;
}

/* ===== footer ======*/

.rodape{
  height: 40vh;
  padding: 22px;
  border-top: 0.4px solid #FFF2E7;
  background-color: #7338b6;
}

.titulo-rodape{
  text-align: center;
  font-family: 'Righteous', cursive;
  font-size: 36px;
  font-weight: 400;
  color: white;
}

.rodape .logo-rodape{
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rodape .logo-rodape .imagem-rodape{
  width: 6%;
}